.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wizard {
  padding: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.wizard-title {
  padding: 8px;
}

.wizard-step {
  display: flex;
  flex-direction: column;
}

.wizard-step-content {
  display: flex;
  flex-direction: column;
}

.wizard-step-content input {
  margin: 8px;
}

.wizard-controls {
  padding: 8px;
}
